%div.wrapper
  %nav.side-nav
    %div.account
      %p.name= current_user.name
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o

    %div.group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group.id) do
          %p.group_name= group.group_name
          - if group.messages.present?
            - group.messages.each_with_index do |message, i|
              - if i == group.messages.length - 1
                - if message.image.present?
                  %p.group_name--comment 画像が投稿されています。
                - else
                  %p.group_name--comment= message.body
          - else
            %p.group_name--comment メッセージはまだありません。

  %nav.content
    %div.content_group
      %p.content_group--name= @group.group_name
      = link_to("Edit", "/groups/#{@group.id}/edit", class: "content_group--edit right-header")
      %p.content_group--member
        - @group.members.each do |member|
          = "#{member.user.name}"


    %div.content_message
      - @messages.each do |message|
        %li.content_message--name= message.user.name
        %li.content_message--date= message.created_at
        %li.content_message--comment= message.body
        %li.content_message--image= image_tag message.image

    %div.content_typemessage
      %p.content_typemessage--space
        = form_for [@group,@message] do |f|
          = f.text_field :body, placeholder: 'type a message', autofocus: true,class: 'chat-message-form__input textbox'
          = f.label :image do
            %i.fa.fa-file-image-o
              = f.file_field :image, class: 'fileInput'
          = f.submit "Send", class: 'content_typemessage--send'
